$primaryColor: #2b2b2b;

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

@mixin search {
  border: none;
  outline: none;
  background: transparent;
}

@mixin button($width, $height) {
  border: none;
  border-radius: 50px;
  font-size: 25px;
  width: $width;
  height: $height;
  background-color: #2b2b2b;
  &:hover {
    cursor: pointer;
  }
}

@mixin genre {
  &::before {
    content: attr(genreName);
    @include flex(center);
    font-size: 50px;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.27);
  }
  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: "Montserrat";
  background-color: #f0efef;
}

@mixin hover {
  &:hover {
    cursor: pointer;
  }
}

header {
  background-color: $primaryColor;
  @include flex(flex-start);
  margin: 0;
  padding: 0px 50px;
  height: 100px;
  color: white;
}

.logo {
  font-size: 60px;
  font-weight: 900;
}

nav {
  width: 500px;
  @include flex(space-between);
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 60px;
    & span {
      @include hover
    }
}

#navSearch {
  @include search;
  height: 30px;
}

.textField {
  position: relative;
  top: 5px;
  background-color: white;
  padding: 0px 10px;
  border-radius: 30px;
  height: 40px;
  @include flex(row);
}

.searchButton {
  @include search;
  &:hover {
    cursor: pointer;
  }
}

#cart {
  font-size: 20px;
  padding-top: 20px;
  margin-left: 30px;
    @include hover
}

#landingVidContainer {
  position: relative;
  height: 660px;
  margin: 0px;
  padding: 0px;
}

.imgVid {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

#logoSloganContainer {
  position: absolute;
  width: 489px;
  @include flex(center);
  flex-wrap: wrap;
  top: 50px;
  right: 10px;
  color: white;
}

#vidLogo {
  font-size: 120px;
  width: 100%;
  text-align: left;
}

.slogan {
  font-size: 70px;
  width: 100%;
  text-align: left;
}

.sectionLabel {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 0px;
  left: 25px;
}

#todaysHitsContainer {
  position: relative;
  @include flex(center);
  margin-top: 70px;
  height: 450px;
}

#todaysHitsCarousel {
  width: 100%;
}

.carouselContainer {
  height: 80%;
  width: 100%;
  @include flex(center);
}

.vinylDivSlide {
  width: 100%;
  @include flex(space-evenly);
  padding: 0px 20px;
}

.movementButton {
  width: 30px;
  margin: 20px;
  z-index: 1;
}

.movementButton span {
  background-color: black;
  height: 30px;
  width: 30px;
  background-size: 15px;
}

.vinylImg {
  position: relative;
  height: 325px;
  width: 325px;
  background-color: #2b2b2b;
  &:hover {
    cursor: pointer;
  }
}

#opBckgrnd {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  @include flex(center);
}

#widget {
  position: relative;
  width: 70%;
  height: 600px;
  min-width: 600px;
  background-color: #f0efef;
  @include flex(flex-start);
}

#exitButton {
  color: #aaaaaa;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  top: 10px;
  right: 15px;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}

#widgetImgDiv {
  width: 55%;
  height: 100%;
}

#widgetTextDiv {
  position: relative;
  width: 45%;
  height: 100%;
  padding: 30px;
  @include flex(flex-start);
  flex-direction: column;
  align-items: flex-start;
}

#widgetTextAlbum {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
 
}

#widgetPriceText {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
}

#widgetTextArtist {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  @include hover;
}

#trackList {
  list-style: decimal;
  @include flex(flex-start);
  flex-direction: column;
  align-items: flex-start;
  height: 325px;
  flex-wrap: wrap;
}

#widgetTextDiv label {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

#trackList li {
  width: 115px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 17px;
}

#widgetBuyButton {
  @include button(60%, 50px);
  margin-left: 15%;
  background-color: #2b2b2b;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.popUpNotif {
  margin-left: 150px;
  background-color: #c4c4c4;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 100px;
}

#artistOfWeekContainer {
  position: relative;
  @include flex(space-evenly);
  height: 850px;
}

.artistOfWeek {
  position: relative;
  width: 725px;
  height: 750px;
  &::after {
    content: attr(artistName);
    position: absolute;
    bottom: 110px;
    left: 30px;
    background-color: #2b2b2bbd;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

.artistButton {
  @include button(150px, 60px);
  background-color: white;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#allGenresContainer {
  position: relative;
  margin-top: 50px;
  @include flex(flex-start);
  flex-wrap: wrap;
  padding-left: 4vw;
  padding-bottom: 70px;
  padding-top: 20px;
}

.genreImg {
  position: relative;
  width: 350px;
  height: 310px;
  @include genre;
}

#allGenreText {
  top: -40px;
}

footer {
  height: 300px;
  background-color: #2b2b2b;
  @include flex(flex-start);
  flex-direction: column;
  color: white;
}

#footerLogoDiv {
  margin-top: 30px;
  @include flex(center);
}

#footerInfoDiv {
  margin-top: 40px;
  line-height: 30px;
  @include flex(space-between);
  align-items: flex-start;
}

#footerInfoDiv label {
  margin-bottom: 10px;
  font-weight: 900;
}

#contactInfo {
  margin: 0px 100px;
}

// ------------------------- Artist Page ----------------------------

#artistImgVidContainer {
  position: relative;
  height: 400px;
  background-color: #2b2b2b;
}

#artistBackground {
  position: relative;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#artsitImg {
  position: absolute;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 50%;
  bottom: 30px;
  left: 30px;
}

#artistInfoContainer {
  @include flex(space-between);
  flex-wrap: wrap;
  padding: 40px 40px 100px 40px;

  background-color: #f0efef;
}

#artistNamePop {
  line-height: 25px;
  margin-bottom: 20px;
}

#artistName {
  font-size: 40px;
  font-weight: 900;
  text-align: left;
}

#artistInfoDiv {
  height: 450px;
  @include flex(space-between);
  flex-direction: column;
  align-items: flex-start;
}

#artistGenreDiv {
  position: relative;
  height: 400px;
  margin-top: 60px;
  width: 600px;
  @include flex(flex-start);
}

#artistGenreDiv label {
  position: absolute;
  top: -30px;
  left: 0px;
}

.artistGenre {
  position: relative;
  width: 50%;
  min-width: 200px;
  height: 100%;
  @include genre;
}

#relatedArtistsContainer {
  position: relative;
  height: 600px;
  @include flex(center);
  align-items: center;
  background: rgba(0, 0, 0, 0.27);
  &::after {
    content: "";
    border: 3px solid #f0efef;
    z-index: -1;
    width: 96%;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 2%;
  }
}

#relatedArtistText {
  top: 30px;
  color: white;
}

#relatedArtistsBackground {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url("https://images.unsplash.com/photo-1587731556938-38755b4803a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80");
  background-position: center;
  background-size: cover;
}

#relatedArtistsCarousel {
  height: 500px;
  width: 95%;
  @include flex(center);
}

.artistPreviewImg {
  position: relative;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 10px;
  @include hover;
  &::after {
    content: attr(artistName);
    background-color: #2b2b2b73;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 15px;
    bottom: 60px;
    @include flex(center);
  }

  & img {
    border: none;
    border-radius: 10px;
  }
}

.vinylPreviewInfo {
  position: absolute;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #2b2b2b73;
}

#previewNames {
  margin: 15px;
  @include flex(flex-start);
  line-height: 20px;
  align-items: flex-start;
  flex-direction: column;
}

#previewAlbum {
  max-width: 225px;
  font-weight: 700;
}

#previewArtist {
  font-size: 12px;
}

#previewPrice {
  position: absolute;
  top: 15px;
  right: 15px;
}

.previewArtistButton {
  @include button(120px, 40px);
  background-color: white;
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#discographyContainer {
  min-height: 460px;
  background-color: #f0efef;
  position: relative;
  padding: 100px 0px 100px 60px 
}

#discographyLabel {
  top: 50px;
  left: 30px
}

#discography {
  @include flex(flex-start);
  flex-wrap: wrap;
}

.discographyVinylImg {
  margin: 15px 15px;
}

// ----------------- Catlouge -----------------------

#catalougeContainer {
  position: relative;
  min-height: 500px;
  padding-bottom: 300px;
}

#filterDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 300px;
  padding: 80px 40px
}

#filter {
  position: sticky;
  top: 180px;
  @include flex(space-between);
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
      & span{
        font-size: 20px;
        font-weight: 600;
      }
      & input {
        position: relative;
        @include button(15px, 15px);
      }
      & input::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid #2b2b2b;
        border-radius: 50%;
      }

      & input:checked::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        border-radius: 50%;
      }

      & button {
        @include button(150px, 50px );
        color:white
      }
}

#resultsLabel {
  position: absolute;
  top: 40px;
  left: 330px;
  right: 80px;
  padding: 0px 40px;
  background-color: #2b2b2ba2;
  color: white;
  border: none;
  border-radius: 50px;
  @include flex(space-between);
  flex-wrap: wrap;
      & h2 {
        margin: 10px
      }
      & select {
        border: none;
        border-radius: 40px;
        padding: 5px 10px;
        margin: 10px 0px;
      }
}

#results {
  position: relative;
  top: 150px;
  left: 20%;
  width: 80%;
  @include flex(flex-start);
  flex-wrap: wrap
}

.resultsVinyl {
  width: 250px;
  height: 250px;
  margin: 20px;
      & div {
        padding: 5px 0px;
        height: 80px;
        & #previewNames {
          transform: scale(80%);
          width: 190px;
          margin: 0px;
        }
      }
}

.resultsArtist {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  border: none;
  border-radius: 7px;
  @include hover;
  &::after {
    content: attr(artistName);
    background-color: #2b2b2b73;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 15px;
    bottom: 60px;
    @include flex(center);
  }

  & img {
    border: none;
    border-radius: 10px;
  }
}

// ------------------- Check Out -----------------------

#checkoutContainer {
  @include flex(flex-start);
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  min-height: 500px;
}

#orderSummaryDiv {
  position: relative;
  border: none;
  border-radius: 20px;
  background: #2b2b2b1a;
  margin: 30px 0px 30px 5% ;
  padding: 40px 15px 90px 15px;
  width: 350px;

      & #orderSummaryLabel {
        position: absolute;
        font-weight: 600;
        top: 15px;
        left: 15px
      }

      & button {
        @include button(60%, 50px);
        position: absolute;
        bottom: 15px;
        left: 20%;
        min-width: 200px;
        color: white
      }

      & div {
        font-size: 15px;
        line-height: 30px;
        width: 100%;
        & div {
          @include flex(space-between);
          flex-wrap: wrap;
          & span {
            max-width: 260px;
          }
        }
      }
}

#cartItemsDiv {
  position: relative;

  margin: 30px 0px 30px 5%;
  padding: 30px 15px;   
  width: 55%;

      & #cartItemsLabel {
        position: absolute;
        font-weight: 600;
        top: 10px;
        left: 17px
      }
}

.checkoutImg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

.cartItem {
  position: relative;
  margin: 15px 0px;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 20px;
  background: #2b2b2b1a;
  @include flex(flex-start);
  & span {
    width: 30%;
    min-width: 100px;
    text-align: start;
    margin: 0px 10px
  }
  & img {
        border-radius: 5px;
      }
}

.albumCartName {
  font-weight: 600;
}

.removeItem {
  position: absolute;
  color: #c4c4c4;
  right: 20px;
  @include hover;
}

#emptyCart {
  width: 100%;
  height: 400px;
  @include flex(center);
  text-align: center;
  font-size: 80px;
  color: #c4c4c4;
      & i {
        margin-top: 10px;
      }
}
